// Bulma overrides
$body-size: 20px !default;

// Color system
$blue: #0057ae;
$light-blue: #34aae1;
$red: #fd7674;
$purple: #8b67b8;
$green: #42c08b;
$gray: #676767;
$gray-5p: rgba(103, 103, 103, 0.05);
$gray-10p: rgba(103, 103, 103, 0.1);
$gray-30p: rgba(103, 103, 103, 0.3);

$primary: $blue;
$info: $light-blue;
$danger: $red;
$warning: $purple;
$success: $green;

// Typography
$font-family-base: 'Lexend', Helvetica, Arial, sans-serif;
