// Variables
@import './variables';

// Devicons
@import 'devicon/devicon.min.css';

// Bulma
@import 'bulma/bulma.sass';

// Fontawesome (need to be loaded here to prevent huge icons on pageload)
@import '@fortawesome/fontawesome-svg-core/styles';

// Bulma Overrides
.column {
  display: flex;
  flex-direction: column;
}

.box {
  height: 100%;
}

html,
body {
  font-family: $font-family-base;
  font-weight: 200 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

.has-text-weight-bold {
  font-weight: 500 !important;
}

.bg-gray-5p {
  background-color: $gray-5p;
}

.gray {
  color: $gray;
}
